.card {
    height: 20em;
    width: clamp(170px, 39%, 300px);
    padding: 6px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: #5d5d5d 3px 3px 12px 0px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.card > *:nth-child(3) {
    flex-grow: 1;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shortcut {
    height: 21px;
    width: 21px;
}